# Lab Assignment 2 - Bronwen Rees
## 200011560
Repository URL: https://github.com/bronwenrees02/PY4SA23_Assignment.git

### Python Basics
#### Task 1
Creating an **if...else** statement that will test whether a number is divisible by 3

In [ ]:
number = 45378
print(number)
if (number % 3) == 0: # the % is the remainder function
    print("Your number is divisible by 3") # this will print if remainder when divided by 3 is 0
else:
    print("Your number isn't divisible by 3")

#### Task 2
Creating an **if...else** statement that will test whether a type of fruit, represented as a text string, is in a list of acceptable fruits

In [ ]:
my_fruit = "guava"
print("My chosen fruit is", my_fruit)
acceptable_fruits = ["cherry", "nectarine", "kiwi", "mango", "passionfruit", "raspberry"]
# square brackets define the list
if my_fruit in acceptable_fruits: #this searches for input in pre-defined list
   print("Your fruit is acceptable")
else:
    print("Sorry, your fruit is not found in the list of acceptable fruits")

#### Task 3
Creating a **function** to calculate the distance between two coordinates using the haversine formula

In [ ]:
import math
from math import sin, cos, sqrt, atan2, radians

def haversine(coord1:object, coord2:object):

    # convert decimal degrees to radians for use in equation 
    lon1, lat1 = coord1
    lon2, lat2 = coord2
    phi_1 = math.radians(lat1) #define equation inputs
    phi_2 = math.radians(lat2)
    delta_phi = math.radians(lat2 - lat1)
    delta_lambda = math.radians(lon2 - lon1)

    # haversine formula with inputs
    a = math.sin(delta_phi / 2.0) ** 2 + math.cos(phi_1) * math.cos(phi_2) * math.sin(delta_lambda / 2.0) ** 2
    c = 2 * math.atan2(math.sqrt(a), math.sqrt(1 - a))
    R = 6371
    return R * c # what formula calculation returns

coord1 = -0.093941,51.45671 #what is inputed into formula
coord2 = -77.009003,38.8889931
spherical_distance = (haversine(coord1, coord2)) #answer
spherical_distance = round(spherical_distance, 3) # rounds answer to 3 decimal places
print("The distance between these two points is", spherical_distance, "km")

### Pandas and NumPy
#### Using the portland_park_trees.csv

In [ ]:
# First import pandas and numpy
import pandas as pd
import numpy as np
# now import the csv file
portland_tree_data = pd.read_csv("Assignment_2_Data/portland_park_trees.csv")

#### Q1
How many trees are of the Quercus or Acer genus?

In [ ]:
Genus = portland_tree_data.query('Genus=="Quercus" or Genus=="Acer"')
print(Genus.shape)

Query function etracts all sections of data frame where Genus column value is Acer or Quercus

shape function gives dimensions of data frame in format (no. columns, no. rows)

The number of columns is 5675

This means there are 5675 trees of the Acer or Quercus genus

#### Q2
How many trees are of the Quercus or Acer genus and have a DBH larger than 50 inches?

In [ ]:
Genus_dbh50 = Genus.query('DBH > 50')
print(Genus_dbh50.shape)

Again, the result is printed as (no. columns, no. rows)
124 columns means 124 trees in eaither of the genuses wh=ith a DBH exceeding 50inches

#### Q3
Which genus has the highest mean DBH of the following genera: Quercus, Acer, or Fraxinus?

In [ ]:
Quercus = portland_tree_data[portland_tree_data["Genus"]=="Quercus"]
Acer = portland_tree_data[portland_tree_data["Genus"]=="Acer"]
Fraxinus = portland_tree_data[portland_tree_data["Genus"]=="Fraxinus"]

Subsets created of the 3 genuses

In [ ]:
Quercus["DBH"].mean()

In [ ]:
Fraxinus["DBH"].mean()

In [ ]:
Acer["DBH"].mean()

The Genus with the highest mean DBH is the Quercus genus with a value of 23.56

### Q4
How many different species of trees are recorded in the Acer genus?

In [ ]:
species_number= Acer.value_counts("Genus_spec").shape[0]
print(species_number)

The code asks for a count of values within the Acer subset created previously

This is done using .value_counts()

.shape[0] gives dimensions

print(species_number) prints the number of unique soecies within the Acer Genus

The answer is 20

#### Using the world_cities.csv
#### Q5
• Calculate a new column named "pop_M" (population in millions), by transforming the 
"pop" (population) column.

• Remove the original "pop" column.

• Choose/subset a city that starts with the same letter as your first name (for example, 
"Mexico City" if your first name is Michael).

• Subset the five biggest (i.e., largest population sizes) cities from the country where your selected city is.

• Print the result.

In [ ]:
# importing the data set
cities = pd.read_csv("Assignment_2_Data/world_cities.csv")

In [ ]:
# New column for population by millions
cities['pop_M'] = cities['pop'] / 1000000

In [ ]:
# removing original pop column
del cities['pop']

In [ ]:
# My name begins with B
# My chosen city is Bangkok
Bangkok_df = cities[cities["city"]=="Bangkok"]
print(Bangkok_df)

In [ ]:
# Subset of Thailand's 5 largest cities
Thailand = cities[cities["country"]=="Thailand"]
Thailand_subset = Thailand.sort_values('pop_M', ascending=False).head(5)
Thailand_subset

New Pop_M column created

Pop colum deleted

Bangkok row extracted from data frame

Bangkok is in Thailand

New subset created with the 5 most populated cities in Thailand placed in descending order in terms of population

### Python data visualisation
#### Using portland_park_trees.csv

In [ ]:
# first necessary libraries must be imported
# in this case matplotlib and seaborn
import seaborn as sns
import matplotlib.pyplot as plt
# the following code allows suitable plotting of results withing jupyter notebook
%matplotlib inline

#### Graph 1
Scatterplot of trees in Ulmus genus
x-axis: DBH
y-ais: TreeHeight

In [ ]:
Ulmus = portland_tree_data[portland_tree_data["Genus"]== "Ulmus"]
Ulmus_plt = sns.scatterplot(data=Ulmus, x='DBH', y='TreeHeight')
# sns scatterplot of DBH against tree height for Ulmus genus
plt.show(Ulmus_plt)

#### Graph 2
Scatterplot of trees in Ulmus genus, which tree species mapped to hue

In [ ]:
# seaborn allows hue mapping based on an attribute
# in this case the tree species
sns.relplot(data=Ulmus, x='DBH', y='TreeHeight',hue='Genus_spec')

seaborn allows hue mapping based on an attribute in this case the tree species

relplot() used in this case rather than scatterplot() to allow hue legend to be plotted off to side of graph

plots same relationship as scatterplot Graph 1

#### Graph 3
Boxplot of DBH for just Ulmus genus differentiated by species

In [ ]:
plt.figure(figsize=(10, 15))
sns.boxplot(data=Ulmus, x='Species', y='DBH')
plt.title('Box plot of DBH of tree species within the Ulmus genus') # give title
plt.show()

Boxplot created using sns.boxplot of DBH by species

Axis were unintelligible due to label bunching when using 'Genus_spec' so 'Species' used instead

The data is the same

#### Graph 4 
Combination of graphs 1 and 3

In [ ]:
import matplotlib.pyplot as plt
import seaborn as sns

sns.set(rc={"figure.figsize":(14, 8)}) #(height,width) of figures
fig, axs = plt.subplots(ncols=2) # include 2 subplots in figure
sns.scatterplot(data=Ulmus, x='DBH', y='TreeHeight', ax=axs[0])
axs[0].set_title("Graph 1")
# code to plot and label Graph 1
sns.boxplot(data=Ulmus, x='Species', y='DBH', ax=axs[1])
axs[1].set_title("Graph 3")
# code to plot and label Graph 3 within figure

To create figure containing Graphs 1 and 3:

- set parameters of figures
- indicate how many columns (i.e. how many subplots)
- code for plotting of graph 1, uses axs[0].set_title() in following line to set title
- repeat for Graph 3 using axs[1]

### Python GeoPandas
#### Using Spatial Data Portal of Scotland

In [ ]:
# first the geopandas environment must be imported
import geopandas as gpd

#### Task 1
Read the selected data into a geopandas dataframe

In [ ]:
simd20 = gpd.read_file('Assignment_2_Data/SIMD_2020/SIMD_2020.shp')
# read in shape file using geopandas

In [ ]:
simd20_small = simd20[["DataZone","DZName","LAName","SAPE2017","WAPE2017","EduAttend", "HlthCIF", "geometry"]]
simd20_small = simd20_small[simd20_small['LAName'] == 'Fife']

Here I have filtered the simd20 dataset to reduce its size leaving in on a select few colums of interest that are necessary for further tasks

#### Task 2
Plot the first 5 and the last 5 sets of records in your selected dataset

In [ ]:
simd20_small.head(5) #first 5 rows

In [ ]:
simd20_small.tail(5) # final 5 rows

#### Task 3
Create a map where you can explore the selected dataset

In [ ]:
simd20.explore(column='LAName', cmap='RdPu')
# creating an explorative map by Local Authority area

#### Task 4
 What is the Coordinate Reference System of the selected dataset?

In [ ]:
simd20.crs 
# this provides the CRS and all relative information

#### Task 5
 How many features does the selected dataset contain?

In [ ]:
simd20_small.shape

.shape describes the dimensions of the datafram

the selected dataframe is the filteres dataframe I made where only Local Authority = Fife is selected

There are 494 columns and 8 rows

#### Task 6
 Define a sub-setting criterion to create a new geopandas dataframe where you filter the 
selected dataset based on a categorical attribute

In [ ]:
simd20_subset1 = simd20[["DataZone","DZName","LAName","SAPE2017","WAPE2017","EduAttend", "HlthCIF", "geometry"]]
# intitially creating a subset with just a few columns of interest
index_subset1 = simd20_subset1['LAName'] == 'Glasgow City' 
# filtering new subset data to only include data from Glasgow City
simd20_subset1 = simd20_subset1[index_subset1]
simd20_subset1.head(5)

New subset of simd20 data frame for LA NAme = Glasgow City

#### Task 7
Define a sub-setting criterion to create a new geopandas dataframe where you filter the 
selected dataset based on a numerical attribute

In [ ]:
simd20_subset2 = simd20[["DataZone","DZName","LAName","SAPE2017","WAPE2017","EduAttend", "HlthCIF", "geometry"]]
# again creating a new subset with same columns of interest
index_subset2 = simd20_subset2['SAPE2017'] > 2000 
# filtering dataset to include on values where "SAPE2017" exceeds 2000
# SAPE2017 is the small area estimated population from 2017
simd20_subset2 = simd20_subset2[index_subset2]
simd20_subset2.head(5)

New subset of simd20 dataframe made for  which is the small area population estimate from 2017

This provides an estimated population for each datazone

#### Task 8
Plot the new/filtered geopandas dataframe using one of the attributes to create a 
choropleth map

In [ ]:
plt.rcParams['figure.figsize'] = [10, 9]
fig, ax = plt.subplots(1, 1)
simd20_subset1.plot(column='SAPE2017', cmap="turbo", ax=ax, legend=True, legend_kwds={'label': "SAPE2017", 'orientation': "vertical"})

# creating the chloropleth map for Glasgow City based oon SAPE2017 attribute
# this is the small area population estimate for 2017 for each Data Zone within the Glasgow City Local Authority Area

This creates a chloropleth map of glasgow city based on SAPE2017

### Python Rasterio
#### Using 30 m spatial resolution digital elevation model (DEM) derived from the National Elevation Dataset (NED) in Canada with elevation in meters

In [ ]:
# first the rasterio environment must be imported 
import rasterio as rio
from rasterio import plot

#### Task 1
Read the rasterio data set

In [ ]:
elev = rio.open('Assignment_2_Data/elev.tif')
# opening tif file of raster data using rasterio

#### Task 2
What is the CRS of the dataset?

In [ ]:
print(elev.crs)

#### Task 3
Describe the raster dataset regarding the raster extent (bounds), the reference system, and
how many bands are in this dataset

In [ ]:
width=elev.width
height=elev.height
bands=elev.count
refsyst=elev.crs
bounds=elev.bounds

print("The width of this dataset is", width)
print("The height of this dataset is", height)
print("The number of bands in this data set is", bands)
print("The reference system of this data set is:",refsyst)
print("The bound of this dataset are as follows:", bounds)

.width, .height, .count, .crs, .bounds are all part of rasterio that provide the necessary data for this question

#### Task 4
Create a plot/map of the raster dataset

In [ ]:
pip install earthpy #installing earthpy package

In [ ]:
import earthpy as et
import earthpy.spatial as es
import earthpy.plot as ep
# importing necessary libraries from earthpy

In [ ]:
elev_arr = elev.read(1, masked=True) 
# masks data within raster bounds where no data
elev_masked = np.ma.masked_array(elev_arr, mask=(elev_arr == 0)) 
plt.rcParams['figure.figsize'] = [10, 8]
ep.plot_bands(elev_arr, title="Digital Elevation Model", cmap="gist_earth")
plt.show # this is the final result

**Creating the above image:**

1) Convert raster into an array
2) Mask parts of raster with no elevation data using np.ma.masked_array (this works with array with masked data)
3) Set figure size
4) Create plot using ep.plot_bands, cmap = gist_earth
5) Use plt.show to produce image with legend

### Task 5
#### Create histograms from raster

In [ ]:
ep.hist(elev_arr, figsize =(10,8), title="Histogram of Digital Elevation Model raster data")
plt.show()

The function ep.hist is the function used to create histogram based on the elev_arr created in previous task

The printed result shows the frequency of elevation measures present in the raster data

# The End
### Thank you